.ChartIndexesContainer {
  width: 100%;
  height: 500px;
  border-radius: 25px;
}
.psudo-checkbox {
  width: 12px;
  height: 12px;
  border: none;
  transition: all 0.5s ease;
}
.higher {
  background-color: var(--higher-index-color);
}
.average {
  background-color: var(--average-index-color);
}
.lower {
  background-color: var(--lower-index-color);
}
.active { 
  width: 14px;
  height: 14px;
  border: solid 2px black;
}