* {
  box-sizing: border-box;
}
/**************************************************** FLEX ********************************************/
.flx {
  display: flex;
}
.flx-column {
  display: flex;
  flex-direction: column;
}
.align-items-center{
  align-items: center;
}
.basis-100 {
  flex-basis: 100%;
  max-width: 100%;
}
.basis-70 {
  flex-basis: 70%;
  max-width: 70%;
}
.basis-30 {
  flex-basis: 30%;
  max-width: 30%;
}
/***************************************** *********************/
.container {
  background-color: var(--main-background-color);
  width: 100%;
}
.card {
  background-color: var(--card-background-color);
}
.display-none{
  display: none;
}
.RCR-5 {
  border-radius: 5px;
}
.RCR-10 {
  border-radius: 10px;
}
.RCR-15 {
  border-radius: 15px;
}
.RCR-20 {
  border-radius: 20px;
}
.pointer {
  cursor: pointer;
}